/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color:ghostwhite;
    background: url("/assets/greymarble.jpeg");
}
.navbar-brand {
    text-decoration: underline 5px yellow;
    font-size: 25px;
}

.nav-link {
    font-size: 20px;
}
.nav-link:hover {
    text-decoration: underline 5px yellow;
}

.nav .sidebar-sticky {
    color: red;
}

.front-pic {
    width: 100%;
    z-index: 0;
    filter: brightness(50%);
}

.front {
    position: relative;
    text-align: center;
    color: white;
}
.home-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    border: none; 
    background: url('/assets/greymarble.jpeg');
}

.card-body {
    width: 75%;
    border-radius: 40px; 
    background-color: #E7E9EB;
    padding: 20px;
    box-shadow: 5px 10px rgb(255,246,0);
    width: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-body {
    width: 75%;
    border-radius: 40px; 
    background-color: #E7E9EB;
    padding: 20px;
    font-size: 30px;
    box-shadow: 5px 10px rgb(255,246,0);
    width: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-in {
    width: 100%;
}

.show {
    background: white;
    padding: 20px;
}

.seller {
    font-size: 20px;
    text-align: right;
}
