<h1></h1>

<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      </div>
      <div class="front">
        <img class="front-pic" src="/assets/neighborhood.jpeg"/>
          <div class="text-center home-text">
            <h1 class="display-2">Find for your new home today</h1>
            <h3>We are a local real estate company specializing in getting people their dream house </h3>        
          </div>
      </div>
      <% @properties.each do |property| %>
      <div class="row gy-3 row-cols-flex" style="padding: 3%;">
        <div class="col-sm">
          <div class="card" class="card h-100">
            <div class="row">
              <div class="container text-center">
                <div class="card-img td-example-same-image-height">
                    <div class="container text-center">
                      <img class="card-img-top"/> <%= link_to(property_thumbnail(property), property_path(property)) %>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to property.address, property_path(property) %></h5>
                    <h3>$<%= property.price %><h3>
                </div>
              </div>
          </div>
        </div>
      </div>
      <% end %>

      <%# <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container --> %>

</main>